@charset "UTF-8";
body {
  font-family: "Noto Sans JP";
}

.u-desktop {
  display: none;
}
@media screen and (min-width: 768px) {
  .u-desktop {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .u-mobile {
    display: none;
  }
}

/* リキッドレイアウト対応 */
html {
  font-size: 10px;
}
@media screen and (min-width: 768px) {
  html {
    font-size: 0.9259259259vw;
  }
}
@media (min-width: 1080px) {
  html {
    font-size: 10px;
  }
}

/* pcの電話番号発信対応 */
@media screen and (min-width: 768px) {
  a[href^="tel:"] {
    pointer-events: none;
  }
}

/* ホバー */
a {
  text-decoration: none;
  color: inherit;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
@media screen and (min-width: 768px) {
  a:hover {
    opacity: 0.8;
  }
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Remove default padding */
ul,
ol {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core root defaults */
html {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul,
ol {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
  width: 100%;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Blur images when they have no alt attribute */
img:not([alt]) {
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feGaussianBlur stdDeviation="10" /></filter></svg>#filter');
  -webkit-filter: blur(10px);
          filter: blur(10px);
}

/* フォームリセット */
input,
button,
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  border: none;
  border-radius: 0;
  font: inherit;
  outline: none;
}

textarea {
  resize: vertical;
}

input[type=checkbox],
input[type=radio] {
  display: none;
}

input[type=submit],
input[type=button],
label,
button,
select {
  cursor: pointer;
}

select::-ms-expand {
  display: none;
}

.about {
  margin-top: 83px;
  margin-top: 8.3rem;
}
@media screen and (min-width: 768px) {
  .about {
    margin-top: 14.6rem;
  }
}

.about-section {
  text-align: right;
}

.about__inner {
  padding: 0 15px;
}
@media screen and (min-width: 768px) {
  .about__inner {
    position: relative;
    width: 1080px;
    max-width: 100%;
    padding: 0 25px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .about__inner::before {
    content: "";
    position: absolute;
    background-image: url(/images/about-pc-figure-coral.png);
    background-repeat: no-repeat;
    background-size: contain;
    bottom: -20%;
    right: 0;
    width: 19.4rem;
    max-width: 100%;
    height: 18.1rem;
    margin: auto;
    mix-blend-mode: multiply;
  }
}
@media screen and (min-width: 1024px) {
  .about__inner::before {
    content: "";
    position: absolute;
    background-image: url(/images/about-pc-figure-coral.png);
    background-repeat: no-repeat;
    background-size: contain;
    bottom: -20%;
    right: 0;
    width: 19.4rem;
    max-width: 100%;
    height: 18.1rem;
    margin: auto;
    mix-blend-mode: multiply;
  }
}
@media screen and (min-width: 1440px) {
  .about__inner::before {
    content: "";
    position: absolute;
    background-image: url(/images/about-pc-figure-coral.png);
    background-repeat: no-repeat;
    background-size: contain;
    bottom: -20%;
    right: -9%;
    width: 19.4rem;
    max-width: 100%;
    height: 18.1rem;
    margin: auto;
    mix-blend-mode: multiply;
  }
}

.about__images {
  position: relative;
  max-width: 100%;
  aspect-ratio: 345/213;
  margin-top: 28px;
  margin-top: 2.8rem;
}

.about__image-left {
  position: absolute;
  top: 0;
  left: 0;
  aspect-ratio: 128/194;
  max-width: 37.1014492753%;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .about__image-left {
    top: 1.3rem;
    left: -2.5rem;
    max-width: 39%;
  }
}

.about__image-right {
  position: absolute;
  aspect-ratio: 281/186;
  bottom: 0;
  right: 0;
  max-width: 81.4492753623%;
  width: 100%;
  z-index: -1;
}
@media screen and (min-width: 768px) {
  .about__image-right {
    bottom: -3.8rem;
    right: -2.31rem;
    max-width: 85%;
  }
}

.about__info {
  margin-top: 40px;
  margin-top: 4rem;
}
@media screen and (min-width: 768px) {
  .about__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    top: 15.7rem;
    left: 19.9rem;
  }
}

.about__title {
  color: #408F95;
  font-size: 40px;
  font-size: 4rem;
  font-family: "Gotu";
  line-height: 40px;
  line-height: 4rem;
}
@media screen and (min-width: 768px) {
  .about__title {
    font-size: 8rem;
    color: #fff;
    max-width: 100%;
    margin-right: 4rem;
    line-height: 10rem;
    margin-top: 1.75rem;
  }
}

.about__text {
  margin-top: 16px;
  margin-top: 1.6rem;
  color: "Noto Sans JP";
  font-size: 16px;
  font-size: 1.6rem;
  font-family: "Noto Sans JP";
  line-height: 24px;
  line-height: 2.4rem;
}
@media screen and (min-width: 768px) {
  .about__text {
    color: #fff;
    max-width: 40rem;
  }
}

.about__button {
  margin-top: 39px;
  margin-top: 3.9rem;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .blog {
    height: 80rem;
    position: relative;
  }
}

@media screen and (min-width: 768px) {
  .blog::before {
    position: absolute;
    content: "";
    background-image: url(/images/blog-backgruond.png);
    width: 100%;
    height: 50rem;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
  }
}

.blog-section {
  padding-top: 80px;
  padding-top: 8rem;
}
@media screen and (min-width: 768px) {
  .blog-section {
    padding-top: 10rem;
    color: #fff;
  }
}

.blog__inner {
  padding: 0 21px;
  padding: 0 2.1rem;
}
@media screen and (min-width: 768px) {
  .blog__inner {
    max-width: 116.9rem;
    width: 100%;
    padding: 0 25px;
    margin: 0 auto;
    position: relative;
  }
}

@media screen and (min-width: 768px) {
  .blog__inner::before {
    content: "";
    position: absolute;
    background-image: url(/images/kingyohanadai_blog-PC.png);
    background-size: cover;
    max-width: 100%;
    width: 43.7rem;
    height: 20.1rem;
    top: -22rem;
    left: -4rem;
  }
}

.blog-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media screen and (min-width: 768px) {
  .blog-cards {
    margin-top: 8rem;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.blog__button {
  text-align: center;
  margin-top: 40px;
  margin-top: 4rem;
}
@media screen and (min-width: 768px) {
  .blog__button {
    margin-top: 7.8rem;
  }
}

.blog__background-image {
  display: none;
}
@media screen and (min-width: 768px) {
  .blog__background-image {
    display: block;
    position: absolute;
    top: -2;
    left: 0;
    max-width: 100%;
    width: 19.4rem;
    aspect-ratio: 437/201;
  }
}

.button__box {
  position: relative;
  z-index: 2;
}

.button {
  display: inline-block;
  font-size: 14px;
  font-size: 1.4rem;
  font-weight: 400;
  color: #fff;
  font-family: "Gotu";
  font-style: normal;
  padding: 16px 93px 16px 40px;
  padding: 1.6rem 9.3rem 1.6rem 4rem;
  line-height: 22px;
  line-height: 2.2rem;
  background-color: #408F95;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  text-align: center;
  position: relative;
  border: 1px solid #408F95;
}

.button__text {
  position: relative;
}

.button__border {
  position: absolute;
  top: 5px;
  top: 0.5rem;
  left: 5px;
  left: 0.5rem;
  width: 100%;
  height: 100%;
  border: 0.625px solid #408F95;
  border: 0.0625rem solid #408F95;
  z-index: -1;
}

.button:hover {
  color: #408F95;
  background-color: #fff;
  opacity: 1;
}

.button::after {
  content: "";
  position: absolute;
  display: inline-block;
  top: 44%;
  right: 21%;
  width: 39px;
  width: 3.9rem;
  height: 5px;
  height: 0.5rem;
  border-bottom: 1px solid #fff;
  border-right: 1px solid #fff;
  -webkit-transform: skew(45deg);
          transform: skew(45deg);
}

.button:hover::after {
  border-bottom: 1px solid #408F95;
  border-right: 1px solid #408F95;
}

.campaign {
  margin-top: 40px;
  margin-top: 4rem;
}
@media screen and (min-width: 768px) {
  .campaign {
    margin-top: 12rem;
  }
}

.campaign__inner {
  padding-left: 13px;
  padding-left: 1.3rem;
  margin-top: 24px;
  margin-top: 2.4rem;
}
@media screen and (min-width: 768px) {
  .campaign__inner {
    margin: 4rem 0 0 auto;
    max-width: calc(60vw + 41rem);
    width: 100%;
    padding-left: 25px 0 0 0;
    position: relative;
  }
}

.campaign__cards {
  margin-top: 23px;
  margin-top: 2.3rem;
  position: relative;
}

.card__boxshadow {
  -webkit-box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, .25);
          box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, .25);
  margin: 3px;
  margin: 0.3rem;
}

.campaign__card {
  display: block;
  background-color: #fff;
}

.campaign__card__inner {
  padding: 0 14px;
  padding: 0 1.4rem;
}

.campaign__info {
  margin-top: 21px;
  margin-top: 2.1rem;
}
@media screen and (min-width: 768px) {
  .campaign__info {
    margin-top: 2.9rem;
  }
}

.campaign__category {
  display: inline-block;
  color: #408F95;
  font-size: 12px;
  font-size: 1.2rem;
  line-height: 22px;
  line-height: 2.2rem;
  padding: 4px 12px;
  padding: 0.4rem 1.2rem;
  border: 1px solid #408F95;
}
@media screen and (min-width: 768px) {
  .campaign__category {
    padding: 0.5rem 1.5rem;
  }
}

.campaign__title {
  color: #0D2936;
  font-size: 16px;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 24px;
  line-height: 2.4rem;
  margin-top: 4px;
  margin-top: 0.4rem;
}

.campaign__price-info {
  text-align: center;
  padding-bottom: 24px;
  padding-bottom: 2.4rem;
}
@media screen and (min-width: 768px) {
  .campaign__price-info {
    padding-bottom: 4rem;
  }
}

.campaign__price-detail {
  color: #0D2936;
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 24px;
  line-height: 2.4rem;
  border-top: 1px solid #408F95;
  padding-top: 8px;
  padding-top: 0.8rem;
  margin-top: 8px;
  margin-top: 0.8rem;
  margin-bottom: 8px;
  margin-bottom: 0.8rem;
}
@media screen and (min-width: 768px) {
  .campaign__price-detail {
    font-size: 1.6rem;
    padding-top: 1.6rem;
    padding-right: 1.3rem;
  }
}

.campaign__price_figures {
  font-family: "Lato";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
@media screen and (min-width: 768px) {
  .campaign__price_figures {
    padding-top: 0.5rem;
  }
}

.campaign__original-price {
  font-size: 20px;
  font-size: 2rem;
  font-weight: 700;
  line-height: 20px;
  line-height: 2rem;
  margin-right: 16px;
  margin-right: 1.6rem;
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
  -webkit-text-decoration-style: solid;
          text-decoration-style: solid;
  -webkit-text-decoration-color: red;
          text-decoration-color: red;
  vertical-align: bottom;
  margin-right: 1px;
  margin-right: 0.1rem;
}
@media screen and (min-width: 768px) {
  .campaign__original-price {
    font-size: 2.4rem;
    margin-right: 2.5rem;
    line-height: 2.4rem;
  }
}

.campaign__discount-price {
  color: #408F95;
  font-size: 32px;
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 32px;
  line-height: 3.2rem;
  vertical-align: bottom;
  padding-left: 6px;
  padding-left: 0.6rem;
}
@media screen and (min-width: 768px) {
  .campaign__discount-price {
    font-size: 4rem;
  }
}

.campaign-swiper-button__box {
  display: none;
}
@media screen and (min-width: 768px) {
  .campaign-swiper-button__box {
    display: block;
  }
}

.swiper-button-prev,
.swiper-button-next {
  width: 80px;
  width: 8rem;
  height: 80px;
  height: 8rem;
}

.swiper-button-prev::after {
  background-repeat: no-repeat;
  background-size: contain;
  content: "swiper-icon-left.png";
  height: 50px;
  margin: auto;
  width: 50px;
}

.swiper-button-prev::after {
  background-image: url(/images/swiper-icon-left.png);
}

.swiper-button-next::after {
  background-image: url(/images/swiper-icon-right.png);
}

.campaign__button {
  text-align: center;
  margin-top: 34px;
  margin-top: 3.4rem;
}
@media screen and (min-width: 768px) {
  .campaign__button {
    margin-top: 7.8rem;
  }
}

.card {
  max-width: 100%;
  -webkit-box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, .25);
          box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, .25);
  background-color: #fff;
  margin-top: 39px;
  margin-top: 3.9rem;
}
@media screen and (min-width: 768px) {
  .card {
    max-width: 33.3rem;
    width: 100%;
    margin: 0 2.1rem;
  }
}

.card:first-child {
  margin-top: 28px;
  margin-top: 2.8rem;
}
@media screen and (min-width: 768px) {
  .card:first-child {
    margin-top: 0;
  }
}

.card__inner {
  padding: 16px 16px 24px 16px;
  padding: 1.6rem 1.6rem 2.4rem 1.6rem;
}

.card__image img {
  aspect-ratio: 301/201;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (min-width: 768px) {
  .card__image img {
    max-width: 100%;
    width: 30.1rem;
  }
}

.card__info {
  color: #0D2936;
}

.card__date {
  display: inline-block;
  font-size: 12px;
  font-size: 1.2rem;
  font-weight: 400;
  font-family: "Gotu";
  line-height: 18px;
  line-height: 1.8rem;
  margin-top: 24px;
  margin-top: 2.4rem;
}

.card__title {
  font-size: 16px;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 24px;
  line-height: 2.4rem;
}

.card__text {
  font-size: 16px;
  font-size: 1.6rem;
  border-top: 1px solid #408F95;
  padding-top: 16px;
  padding-top: 1.6rem;
  margin-top: 4px;
  margin-top: 0.4rem;
}

.colorbox {
  position: relative;
  margin: 0 auto;
  width: 100%;
  max-width: 100%;
}

.colorbox .colorbox-image {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: #408F95;
}

.contact {
  margin-top: 80px;
  margin-top: 8rem;
}
@media screen and (min-width: 768px) {
  .contact {
    margin-top: 14.5rem;
  }
}

.contact__inner {
  padding: 0 30px;
  padding: 0 3rem;
}
@media screen and (min-width: 768px) {
  .contact__inner {
    width: 113.2rem;
    max-width: 100%;
    padding: 0 25px;
    margin: 0 auto;
    position: relative;
  }
}

.contact__block {
  position: relative;
}
@media screen and (min-width: 768px) {
  .contact__block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, .25);
            box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, .25);
    padding: 8.2rem 10rem 7.15rem 4rem;
  }
}

.contact__block::before {
  content: "";
  position: absolute;
  background: url(/images/contact-sp-hanadai.png);
  background-repeat: no-repeat;
  background-size: contain;
  top: -3.5%;
  right: -5.5%;
  max-width: 100%;
  width: 109px;
  width: 10.9rem;
  height: 50px;
  height: 5rem;
  margin: auto;
}
@media screen and (min-width: 768px) {
  .contact__block::before {
    content: "";
    position: absolute;
    background: url(/images/contact-pc-hanadai.png);
    background-repeat: no-repeat;
    background-size: contain;
    top: -10%;
    right: 0%;
    width: 22.5rem;
    height: 13.8rem;
    margin: auto;
  }
}
@media screen and (min-width: 1024px) {
  .contact__block::before {
    content: "";
    position: absolute;
    background: url(/images/contact-pc-hanadai.png);
    background-repeat: no-repeat;
    background-size: contain;
    top: -10%;
    right: 0%;
    width: 24rem;
    height: 13.8rem;
    margin: auto;
  }
}
@media screen and (min-width: 1440px) {
  .contact__block::before {
    content: "";
    position: absolute;
    background: url(/images/contact-pc-hanadai.png);
    background-repeat: no-repeat;
    background-size: contain;
    top: -10%;
    right: -12%;
    width: 30.1rem;
    height: 13.8rem;
    margin: auto;
  }
}

@media screen and (min-width: 768px) {
  .contact__logo-group {
    margin-right: 8.2rem;
    border-right: 1px solid #408F95;
  }
}

.contact__logo {
  width: 174px;
  width: 17.4rem;
  max-width: 100%;
  text-align: center;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .contact__logo {
    width: 20.4rem;
    max-width: 100%;
    text-align: center;
    margin-left: 13.2rem;
  }
}

.contact__address-group {
  text-align: center;
  border-top: 1px solid #408F95;
  margin-top: 8.5px;
  margin-top: 0.85rem;
}
@media screen and (min-width: 768px) {
  .contact__address-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: 6rem;
    margin-top: 0.27rem;
    text-align: left;
    padding-left: 1rem;
  }
}

.contact__address-info {
  margin-top: 16px;
  margin-top: 1.6rem;
}
@media screen and (min-width: 768px) {
  .contact__address-info {
    margin-right: 2.1rem;
  }
}

.contact__address-detail {
  font-size: 16px;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 24px;
  line-height: 2.4rem;
  margin-top: 4px;
  margin-top: 0.4rem;
}

.contact__address-detail:first-child {
  margin-top: 0;
}
@media screen and (min-width: 768px) {
  .contact__address-detail:first-child {
    margin-top: 0.7rem;
  }
}

.contact__address-map {
  position: relative;
  aspect-ratio: 16/9;
  margin-top: 16px;
  margin-top: 1.6rem;
  width: 95%;
  min-width: 295px;
  min-width: 29.5rem;
  height: 100%;
  min-height: 160px;
  min-height: 16rem;
  padding-top: 160px;
  padding-top: 16rem;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 768px) {
  .contact__address-map {
    width: 27.3rem;
    max-width: 100%;
  }
}

.contact__address-map iframe {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}

.contact__inquiry {
  margin-top: 33px;
  margin-top: 3.3rem;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .contact__inquiry {
    margin-top: 1.5rem;
  }
}

.contact__section-title {
  font-size: 80px;
  font-size: 8rem;
  font-weight: 400;
  font-family: "Gotu";
  line-height: 80px;
  line-height: 8rem;
}
.contact__section-title::first-letter {
  color: #408F95;
}

.contact__section-subtitle {
  font-size: 12px;
  font-size: 1.2rem;
  color: #408F95;
  font-weight: 400;
  line-height: 18px;
  line-height: 1.8rem;
  margin-top: -7px;
  margin-top: -0.7rem;
}
@media screen and (min-width: 768px) {
  .contact__section-subtitle {
    margin-top: -1rem;
  }
}

.contact__inquiry-text {
  font-size: 14px;
  font-size: 1.4rem;
  font-weight: 400;
  color: #408F95;
  margin-top: 8px;
  margin-top: 0.8rem;
}

.contact__inquiry--button {
  margin-top: 36px;
  margin-top: 3.6rem;
}
@media screen and (min-width: 768px) {
  .contact__inquiry--button {
    margin-top: 3.6rem;
  }
}

.contact__background-image {
  display: none;
}
@media screen and (min-width: 768px) {
  .contact__background-image {
    display: block;
    position: absolute;
    top: -4rem;
    right: -10rem;
    max-width: 100%;
    width: 30.1rem;
    max-width: 100%;
    aspect-ratio: 301/138;
    mix-blend-mode: multiply;
  }
}

.footer {
  background-color: #408F95;
  margin-top: 100px;
  margin-top: 10rem;
}
@media screen and (min-width: 768px) {
  .footer {
    margin-top: 15.5rem;
  }
}

.footer__inner {
  padding: 0 15px;
  max-width: 100%;
  width: 500px;
  width: 50rem;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .footer__inner {
    width: 108rem;
    max-width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .logo__block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    margin-top: 1.8rem;
    margin-bottom: -1.5rem;
    margin-left: -1.5rem;
  }
}

.footer__logo {
  width: 120px;
  width: 12rem;
  max-width: 100%;
}
@media screen and (min-width: 768px) {
  .footer__logo {
    width: 20rem;
    max-width: 100%;
    margin-right: 1.5rem;
  }
}

.head__logo {
  display: block;
  padding-top: 48px;
  padding-top: 4.8rem;
}
@media screen and (min-width: 768px) {
  .head__logo {
    margin-right: 4rem;
    padding-top: 7.8rem;
  }
}

.footer__sns-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 17px;
  margin-top: 1.7rem;
}
.icon-facebook {
  max-width: 24px;
  max-width: 2.4rem;
  width: 100%;
  margin-right: 15px;
  margin-right: 1.5rem;
}
@media screen and (min-width: 768px) {
  .icon-facebook {
    max-width: 3.2rem;
    width: 100%;
  }
}

.icon-instagram {
  max-width: 24px;
  max-width: 2.4rem;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .icon-instagram {
    max-width: 3.2rem;
    width: 100%;
  }
}

.navigation__menu {
  font-size: 16px;
  font-size: 1.6rem;
  color: #fff;
  line-height: 18px;
  line-height: 1.8rem;
  font-weight: 400;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media screen and (min-width: 768px) {
  .navigation__menu {
    -webkit-box-pack: normal;
        -ms-flex-pack: normal;
            justify-content: normal;
  }
}

.navigation_menu-title {
  font-size: 16px;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 18px;
  line-height: 1.8rem;
  margin-top: 38px;
  margin-top: 3.8rem;
}
.navigation_menu-title::before {
  content: "";
  display: inline-block;
  width: 18px;
  width: 1.8rem;
  height: 18px;
  height: 1.8rem;
  background-image: url(/images/star-fish.png);
  background-size: contain;
  top: 0;
  left: 0;
  -webkit-transform: translateY(0.1rem);
          transform: translateY(0.1rem);
}

@media screen and (min-width: 768px) {
  .br-pc {
    display: none;
  }
}

.navigation__menu-campaign li {
  text-indent: 22px;
  text-indent: 2.2rem;
  margin-top: 24px;
  margin-top: 2.4rem;
}

.navigation_menu-title li {
  text-indent: 22px;
  text-indent: 2.2rem;
  margin-top: 24px;
  margin-top: 2.4rem;
}

.navigation__menu-price li {
  text-indent: 22px;
  text-indent: 2.2rem;
  margin-top: 24px;
  margin-top: 2.4rem;
}

.navigation__menu-infomation li {
  text-indent: 22px;
  text-indent: 2.2rem;
  margin-top: 24px;
  margin-top: 2.4rem;
}

@media screen and (min-width: 768px) {
  .navigation__menu-coulmn-left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 768px) {
  .navigation__menu-coulmn-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 768px) {
  .navigation__menu-coulmn-first {
    width: 21rem;
    margin-right: 8rem;
    margin-left: -1.5rem;
  }
}

@media screen and (min-width: 768px) {
  .navigation__menu-coulmn-second {
    width: 21rem;
    margin-right: 6rem;
  }
}

@media screen and (min-width: 768px) {
  .navigation__menu-coulmn-third {
    width: 21rem;
    margin-right: 6rem;
  }
}

@media screen and (min-width: 768px) {
  .navigation__menu-coulmn-fourth {
    width: 21rem;
  }
}

.navigation__menu-privacy-policy {
  padding-left: 1.5em;
  text-indent: -1.5em;
}

.footer__copyright {
  font-size: 12px;
  font-size: 1.2rem;
  color: #fff;
  line-height: 18px;
  line-height: 1.8rem;
  text-align: center;
  margin-top: 40px;
  margin-top: 4rem;
  padding: 0 14px;
  padding: 0 1.4rem;
  padding-bottom: 56px;
  padding-bottom: 5.6rem;
  letter-spacing: 0.37px;
  letter-spacing: 0.037rem;
}
@media screen and (min-width: 768px) {
  .footer__copyright {
    font-size: 1.4rem;
    margin-top: 8rem;
    padding-bottom: 8rem;
  }
}

.header__drawer {
  margin-left: auto;
}
@media screen and (min-width: 768px) {
  .header__drawer {
    display: none;
  }
}

.drawer-icon__bars {
  width: 28.5px;
  width: 2.85rem;
  height: 29px;
  height: 2.9rem;
  display: block;
  cursor: pointer;
  position: relative;
  margin-left: 5px;
  margin-left: 0.5rem;
}

.drawer-icon__bar1,
.drawer-icon__bar2,
.drawer-icon__bar3 {
  position: absolute;
  width: 32px;
  width: 3.2rem;
  height: 1px;
  height: 0.1rem;
  background: #fff;
  top: 0;
  left: 0;
  -webkit-transition: ease 0.3s;
  transition: ease 0.3s;
}

.drawer-icon__bar1 {
  top: 2px;
  top: 0.2rem;
}

.drawer-icon__bar2 {
  top: 14px;
  top: 1.4rem;
}

.drawer-icon__bar3 {
  top: 26px;
  top: 2.6rem;
}

.header__drawer.is-open .drawer-icon__bar1 {
  -webkit-transform: translateY(1.2rem) rotate(36deg);
          transform: translateY(1.2rem) rotate(36deg);
  width: 40px;
  width: 4rem;
  background-color: #fff;
}

.header__drawer.is-open .drawer-icon__bar2 {
  opacity: 0;
}

.header__drawer.is-open .drawer-icon__bar3 {
  -webkit-transform: translateY(-1.2rem) rotate(-36deg);
          transform: translateY(-1.2rem) rotate(-36deg);
  width: 40px;
  width: 4rem;
  background-color: #fff;
}

.drawer-menu {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  height: 100vh;
  width: 100%;
  z-index: 2;
  margin-top: 80px;
  margin-top: 8rem;
  padding: 0 15px;
  pointer-events: none;
  opacity: 0;
  -webkit-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear;
  -webkit-transition: ease 0.5s;
  transition: ease 0.5s;
  background-color: #408F95;
}

.drawer-menu.is-open {
  pointer-events: auto;
  opacity: 1;
}

.drawer-menu__box {
  margin-top: -15px;
  margin-top: -1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: auto;
  margin-left: auto;
  max-width: 100%;
  width: 342px;
  width: 34.2rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header {
  position: fixed;
  height: 80px;
  height: 8rem;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  background-color: rgba(13, 41, 54, .6784313725);
}
@media screen and (min-width: 768px) {
  .header {
    height: 9rem;
  }
}

.header__inner {
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 15px;
  padding: 0 1.5rem;
  -webkit-transition: ease 0.5s;
  transition: ease 0.5s;
}
@media screen and (min-width: 768px) {
  .header__inner {
    -webkit-box-pack: normal;
        -ms-flex-pack: normal;
            justify-content: normal;
    padding: 0 3.8rem;
  }
}

.js-header.is-open {
  background: #408F95;
}

.header__logo {
  max-width: 102px;
  max-width: 10.2rem;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .header__logo {
    max-width: 13.3rem;
    width: 100%;
  }
}

.header__navigation-menu {
  display: none;
}
@media screen and (min-width: 768px) {
  .header__navigation-menu {
    margin-left: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: #fff;
    margin-bottom: 0.6rem;
  }
}

@media screen and (min-width: 768px) {
  .navigation-item:not(:last-child) {
    margin-right: 3rem;
  }
}
@media screen and (min-width: 1024px) {
  .navigation-item:not(:last-child) {
    margin-right: 4rem;
  }
}

@media screen and (min-width: 768px) {
  .item-title {
    font-size: 1.8rem;
    font-family: "Gotu";
    font-weight: 400;
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .item-subtitle {
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
    position: relative;
  }
}

@media screen and (min-width: 768px) {
  .navigation-item .item-subtitle::after {
    left: 0;
    content: "";
    width: 100%;
    height: 0.1rem;
    background: #fff;
    bottom: -0.4rem;
    -webkit-transform: scale(0, 1);
            transform: scale(0, 1);
    -webkit-transform-origin: center top;
            transform-origin: center top; /*変形（アンダーラインの伸長）の原点がaタグ（各メニュー）の右端*/
    -webkit-transition: -webkit-transform 0.3s;
    transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s; /*変形の時間*/
    position: absolute;
  }
}

@media screen and (min-width: 768px) {
  .navigation-item .item-subtitle:hover::after {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1); /*ホバー後、x軸方向に1（相対値）伸長*/
  }
}

.information {
  background-color: #DDF0F1;
  padding: 80px 0;
  padding: 8rem 0;
  margin-top: 80px;
  margin-top: 8rem;
}
@media screen and (min-width: 768px) {
  .information {
    margin-top: 18rem;
    padding-top: 10.3rem;
    padding-bottom: 10rem;
  }
}

.information__inner {
  padding: 0 15px;
}
@media screen and (min-width: 768px) {
  .information__inner {
    width: 1080px;
    max-width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 4rem auto 0;
    padding: 0 25px;
  }
}

.information__image {
  margin-top: 30px;
  margin-top: 3rem;
}
@media screen and (min-width: 768px) {
  .information__image {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 52%;
            flex: 0 0 52%;
    max-width: 100%;
    margin-right: 5.5rem;
    margin-left: -2.6rem;
    padding-right: 0rem;
    margin-top: 0;
  }
}

.information__info {
  margin-top: 24px;
  margin-top: 2.4rem;
  z-index: 10;
}
@media screen and (min-width: 768px) {
  .information__info {
    margin-top: 6.3rem;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 46.66666%;
            flex: 0 0 46.66666%;
  }
}

.information__title {
  display: block;
  font-size: 20px;
  font-size: 2rem;
  line-height: 24px;
  line-height: 2.4rem;
  font-weight: 700;
  padding-bottom: 4px;
  padding-bottom: 0.4rem;
  border-bottom: 1px solid #408F95;
}
@media screen and (min-width: 768px) {
  .information__title {
    font-size: 2.4rem;
  }
}

.information__text {
  font-size: 16px;
  font-size: 1.6rem;
  color: #0D2936;
  font-weight: 400;
  line-height: 24px;
  line-height: 2.4rem;
  margin-top: 8px;
  margin-top: 0.8rem;
}

.imformation__button {
  text-align: center;
  margin-top: 40px;
  margin-top: 4rem;
}

.inner {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media screen and (min-width: 768px) {
  .inner {
    max-width: 1130px;
    padding-right: 25px;
    padding-left: 25px;
  }
}

.main-visual {
  position: relative;
}

.main-visual__text {
  content: "";
  position: absolute;
  top: 49.85%;
  left: 52.5%;
  color: #fff;
  font-size: 16px;
  font-size: 1.6rem;
  z-index: 2;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
@media screen and (min-width: 768px) {
  .main-visual__text {
    top: 55.4%;
    left: 50.5%;
  }
}

.main-visual-title {
  font-size: 40px;
  font-size: 4rem;
  letter-spacing: 21.6px;
  letter-spacing: 2.16rem;
  font-family: "Lato";
}
@media screen and (min-width: 768px) {
  .main-visual-title {
    font-size: 8rem;
    line-height: 10rem;
    letter-spacing: 4.32rem;
    padding-left: 2.8rem;
  }
}

.main-visual-subtitle {
  font-size: 20px;
  font-size: 2rem;
  font-family: "Gotu";
  text-align: center;
  padding-right: 21.5px;
  padding-right: 2.15rem;
}
@media screen and (min-width: 768px) {
  .main-visual-subtitle {
    padding-right: 1.5rem;
  }
}

.main-visual-image img {
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (min-width: 768px) {
  .main-visual-image img {
    aspect-ratio: 1440/768;
  }
}

body {
  position: relative;
}

.pagetop {
  max-width: 100%;
  width: 48px;
  width: 4.8rem;
  position: fixed;
  bottom: 16px;
  bottom: 1.6rem;
  right: 0;
  margin-right: 16px;
  margin-right: 1.6rem;
  margin-bottom: 16px;
  margin-bottom: 1.6rem;
  z-index: 10;
}
@media screen and (min-width: 768px) {
  .pagetop {
    width: 8rem;
    margin-bottom: 2rem;
    margin-right: 2rem;
  }
}

.price {
  padding: 80px 0;
  padding: 8rem 0;
  margin-top: 84px;
  margin-top: 8.4rem;
  background-color: #DDF0F1;
}
@media screen and (min-width: 768px) {
  .price {
    margin-top: 14rem;
    padding-top: 10.2rem;
    padding-bottom: 10rem;
  }
}

.price__inner {
  padding: 0 15px;
}
@media screen and (min-width: 768px) {
  .price__inner {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 111.7rem;
    max-width: 100%;
    padding: 0 25px;
    margin: 0 auto;
    margin-top: 4.6rem;
  }
}

@media screen and (min-width: 768px) {
  .price__inner::after {
    content: "";
    position: absolute;
    background-image: url(/images/price-PC-left-figure-hanadai.png);
    background-repeat: no-repeat;
    background-size: contain;
    bottom: -25%;
    left: -5.5%;
    width: 43.7rem;
    height: 20.1rem;
    margin: auto;
    z-index: 3;
  }
}

.price__image-sp {
  margin-top: 28px;
  margin-top: 2.8rem;
}

.price__image-sp img {
  max-width: 100%;
}

@media screen and (min-width: 768px) {
  .price-list {
    margin-left: -0.5rem;
    margin-right: 9.3rem;
    width: 46.317549%;
  }
}

@media screen and (min-width: 768px) {
  .price__image-pc {
    aspect-ratio: 492/746;
    width: 45.6824512535%;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

.price-course__title {
  font-size: 16px;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 24px;
  line-height: 2.4rem;
  display: block;
  margin-top: 40px;
  margin-top: 4rem;
  margin-bottom: 4px;
  margin-bottom: 0.4rem;
  padding-bottom: 4px;
  padding-bottom: 0.4rem;
  border-bottom: 1px solid #408F95;
}
@media screen and (min-width: 768px) {
  .price-course__title:first-child {
    margin-top: 0;
  }
}

.price-course__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 8px;
  margin-top: 0.8rem;
  font-size: 14px;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 24px;
  line-height: 2.4rem;
}
@media screen and (min-width: 768px) {
  .price-course__items {
    font-size: 1.6rem;
  }
}

.price__button {
  text-align: center;
  margin-top: 38px;
  margin-top: 3.8rem;
}
@media screen and (min-width: 768px) {
  .price__button {
    margin-top: 9.1rem;
  }
}

.section {
  text-align: center;
}

.section-title {
  font-size: 32px;
  font-size: 3.2rem;
  font-weight: 400;
  font-family: "Gotu";
  line-height: 40px;
  line-height: 4rem;
}
@media screen and (min-width: 768px) {
  .section-title {
    font-size: 4rem;
  }
}
.section-title::first-letter {
  color: #408F95;
}

.section-title__whtie {
  color: #0D2936;
  font-size: 32px;
  font-size: 3.2rem;
  font-weight: 400;
  font-family: "Gotu";
  line-height: 40px;
  line-height: 4rem;
}
.section-title__whtie::first-letter {
  color: #408F95;
}
@media screen and (min-width: 768px) {
  .section-title__whtie {
    font-size: 4rem;
    color: #fff;
  }
  .section-title__whtie::first-letter {
    color: #fff;
  }
}

.section-subtitle {
  font-size: 12px;
  font-size: 1.2rem;
  color: #408F95;
  font-weight: 400;
  line-height: 18px;
  line-height: 1.8rem;
  margin-top: 4px;
  margin-top: 0.4rem;
}

.section-subtitle__white {
  font-size: 12px;
  font-size: 1.2rem;
  color: #408F95;
  font-weight: 400;
  line-height: 18px;
  line-height: 1.8rem;
  margin-top: 4px;
  margin-top: 0.4rem;
}
@media screen and (min-width: 768px) {
  .section-subtitle__white {
    color: #fff;
    margin-top: 1.04rem;
  }
}

/* 前へ次への矢印カスタマイズ */
.swiper-button-prev,
.swiper-button-next {
  height: 80px;
  height: 8rem;
  width: 80px;
  width: 8rem;
}

.swiper-button-box {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  right: 13.5%;
  top: -48.125px;
  top: -4.8125rem;
  width: 162.5px;
  width: 16.25rem;
}

/* 前へ次への矢印カスタマイズ */
@media screen and (min-width: 768px) {
  .swiper-button-prev::after,
  .swiper-button-next::after {
    background-repeat: no-repeat;
    background-size: contain;
    content: "";
    position: absolute;
    height: 8rem;
    margin: auto;
    width: 8rem;
    top: inherit;
    top: -650%;
  }
}
@media screen and (min-width: 1024px) {
  .swiper-button-prev::after,
  .swiper-button-next::after {
    top: -700%;
  }
}

/* 前への矢印カスタマイズ */
.swiper-button-prev::after {
  background-image: url(/images/swiper-icon-left.png);
  right: -61.4vw;
}

/* 次への矢印カスタマイズ */
.swiper-button-next::after {
  background-image: url(/images/swiper-icon-right.png);
  right: 11.9vw;
}

.voice {
  margin-top: 80px;
  margin-top: 8rem;
}
@media screen and (min-width: 768px) {
  .voice {
    margin-top: 17.5rem;
  }
}

.voice-card__inner {
  margin: 0 auto;
  margin-top: 45px;
  margin-top: 4.5rem;
  padding: 0 15px;
}
@media screen and (min-width: 768px) {
  .voice-card__inner {
    width: 113rem;
    max-width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 3rem;
    padding: 0 25px;
    padding-bottom: 2.4rem;
    position: relative;
  }
}

@media screen and (min-width: 768px) {
  .voice-card__inner::after {
    content: "";
    position: absolute;
    background: url(/images/voice-right-figure-seahorse.png);
    background-repeat: no-repeat;
    background-size: contain;
    bottom: -43%;
    right: 2.2%;
    width: 7.1rem;
    height: 16.2rem;
    margin: auto;
  }
}

@media screen and (min-width: 768px) {
  .voice-card__inner::before {
    content: "";
    position: absolute;
    background: url(/images/voice-left-figure-hanadai.png);
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
    top: -51%;
    left: -5%;
    width: 30.1rem;
    height: 13.8rem;
    margin: auto;
  }
}

.voice-card {
  display: block;
  padding: 15px;
  -webkit-box-shadow: 0.2rem 0.2rem 1rem #F2F2F2;
          box-shadow: 0.2rem 0.2rem 1rem #F2F2F2;
}
@media screen and (min-width: 768px) {
  .voice-card:first-child {
    margin-right: 4rem;
  }
}

.voice-card:nth-child(n+1) {
  margin-top: 40px;
  margin-top: 4rem;
}
@media screen and (min-width: 768px) {
  .voice-card:nth-child(n+1) {
    margin-top: 0;
  }
}

.voice-card__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-top: 2px;
  margin-top: 0.2rem;
}
@media screen and (min-width: 768px) {
  .voice-card__main {
    width: 50.2rem;
    max-width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .voice-card__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.voice-card__group {
  padding-right: 10px;
  padding-right: 1rem;
}
@media screen and (min-width: 768px) {
  .voice-card__group {
    padding-right: 0.5rem;
  }
}

.voice-card__personal {
  font-size: 12px;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.4;
}
@media screen and (min-width: 768px) {
  .voice-card__personal {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
}

.voice-card__category {
  display: inline-block;
  font-size: 12px;
  font-size: 1.2rem;
  font-weight: 400;
  color: #408F95;
  padding: 4px 11px;
  padding: 0.4rem 1.1rem;
  border: 1px solid #408F95;
  margin-right: 8px;
  margin-right: 0.8rem;
}
@media screen and (min-width: 768px) {
  .voice-card__category {
    display: inline-block;
    font-size: 1.2rem;
    font-weight: 400;
    color: #408F95;
    padding: 0.79rem 1.5rem;
    border: 1px solid #408F95;
    margin-right: 0.8rem;
    margin-top: 0.4rem;
  }
}

.voice-card__title {
  font-size: 16px;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 24px;
  line-height: 2.4rem;
  padding-top: 2px;
  padding-top: 0.2rem;
  padding-bottom: 5px;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #408F95;
}
@media screen and (min-width: 768px) {
  .voice-card__title {
    display: inline-block;
    font-size: 2.4rem;
    line-height: 3.5rem;
    margin-top: 0.5rem;
    padding-right: 1.5rem;
    padding-left: 1rem;
    width: 29.4rem;
    max-width: 100%;
  }
}

.voice-card__text {
  font-size: 16px;
  font-size: 1.6rem;
  padding-top: 16px;
  padding-top: 1.6rem;
  padding-bottom: 6px;
  padding-bottom: 0.6rem;
}
@media screen and (min-width: 768px) {
  .voice-card__text {
    padding-top: 4rem;
    line-height: 2.4rem;
    padding-left: 1rem;
  }
}

.voice-card {
  width: 100%;
  max-width: 520px;
  max-width: 52rem;
  margin-top: 44px;
  margin-top: 4.4rem;
  margin: 0 auto;
  -webkit-box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, .2509803922);
          box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, .2509803922);
}
@media screen and (min-width: 768px) {
  .voice-card {
    margin-top: 0;
    width: 48.148148148%;
  }
}

.voice-card__image img {
  aspect-ratio: 151/117;
  -o-object-fit: cover;
     object-fit: cover;
  min-width: 151px;
  min-width: 15.1rem;
  width: 250px;
  width: 25rem;
  height: auto;
  max-width: 100%;
}
@media screen and (min-width: 768px) {
  .voice-card__image img {
    aspect-ratio: 180/140;
    height: auto;
    max-width: 100%;
    width: 18rem;
  }
}

.voice-card__info {
  color: #0D2936;
}
@media screen and (min-width: 768px) {
  .voice-card__info {
    margin-top: 2.7rem;
    margin-left: 0.8rem;
  }
}

.voice-card__date {
  font-size: 12px;
  font-size: 1.2rem;
  font-weight: 400;
  font-family: "Gotu";
  line-height: 18px;
  line-height: 1.8rem;
  margin-top: 24px;
  margin-top: 2.4rem;
}

.voice__button {
  text-align: center;
  margin-top: 38px;
  margin-top: 3.8rem;
}
@media screen and (min-width: 768px) {
  .voice__button {
    margin-top: 5.6rem;
  }
}
/*# sourceMappingURL=styles.css.map */
