@use "global" as *;

.about {
margin-top: rem(83);
 @include mq('md'){
    margin-top: rem(146);
   }
}

.about-section{
  text-align: right;
  }


.about__inner{
   @include mq('md'){
     position: relative; 
  }
}

.about__inner::before{//サンゴの画像
 @include mq('md'){
  content: "";
  position: absolute;
  background-image: url(/images/about-pc-figure-coral.png);
  background-repeat: no-repeat;
  background-size: contain;
  bottom: -13.5%;
  right: 4%;
  width: rem(194);
  max-width: 100%;
  height: rem(181);
  margin: auto;
  mix-blend-mode: multiply;

  }
 @include mq('lg'){
  content: "";
  position: absolute;
  background-image: url(/images/about-pc-figure-coral.png);
  background-repeat: no-repeat;
  background-size: contain;
  bottom: -13.5%;
  right: 2%;
  width: rem(194);
  max-width: 100%;
  height: rem(181);
  margin: auto;
  mix-blend-mode: multiply;



   }
 @include mq('xl'){
  content: "";
  position: absolute;
  background-image: url(/images/about-pc-figure-coral.png);
  background-repeat: no-repeat;
  background-size: contain;
  bottom: -13.5%;
  right: -6.5%;
  width: rem(194);
  max-width: 100%;
  height: rem(181);
  margin: auto;
  mix-blend-mode: multiply;
   }
}


.about__images{
 position: relative;
 max-width: 100%;
 aspect-ratio: 345/213;
 margin-top: rem(28);
  @include mq('md'){
    aspect-ratio: 1080/666;
    width: 100%;
    max-width: rem(1080);
    margin-top: rem(35);
    }
}

.about__image-left img{
 position: absolute;
 top: 0;
 left: 0;
 aspect-ratio: 128/194;
 max-width: 37.1014492753%;
 width: 100%;
 @include mq('md'){
   max-width: rem(400);
  width: 100%;
  aspect-ratio: 400 / 606;
  }
}



.about__image-right img{
position: absolute;
aspect-ratio: 281 / 186;
bottom: 0;
right: 0;
max-width: 81.4492753623%;
width: 100%;
z-index: -1;

 @include mq('md'){
   max-width: rem(880);
  width: 100%;
  aspect-ratio: 880 / 581;
 }
}

.about__info {
margin-top: rem(40);
 @include mq('md'){
   display: flex;
   position: absolute;
   top: 22.3%;
   left: 16.3%;
   }
 @include mq('lg'){
   display: flex;
   position: absolute;
   top: 22.3%;
   left: 16.3%;
 @include mq('xl'){
   display: flex;
   position: absolute;
   top: 22.3%;
   left: 19.9%;
   }
 }
}

.about__title {
  color: $accent-color;
  font-size: rem(40);
  font-family: $second-font-family;
  line-height: rem(40);
   @include mq('md'){
      font-size: rem(80);
      color: $white;
      max-width: 100%;
      margin-right: rem(40);
      line-height: rem(100);
      margin-top: rem(17.5);
     }
}

.about__text-group{

}
.about__text {
  margin-top: rem(16);
  font-size: rem(16);
  font-family: $base-font-family;
  line-height: rem(24);
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 6;//6行目以降は...へ変更
 
  @include mq('md'){
    color: $white; 
    max-width: rem(400) ;
    }
}

.about__button{
margin-top: rem(39);
text-align: center;

}
.about__button a:hover{//親要素にホバーをかけた。
  opacity: 1;
  }
