@use "global" as *;

.blog{
}
.blog__background{
  @include mq('md'){
  position: relative;
 }
}

.blog__background::before{
@include mq('md'){
  position: absolute;
  content: "";
  background-image: url(/images/blog-backgruond.png);
  width: 100%;
  height: rem(500);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;
 }
}

.blog-section{
  padding-top: rem(80);
   @include mq('md'){
     padding-top: rem(100);
      color:$white  ;
  }
}

.blog__inner {
  width: 100%;
  padding-right:rem(21);
  padding-left: rem(21);
  margin-right: auto;
  margin-left: auto;
  @include mq('md'){
    max-width: $inner + strip-unit($padding-pc) * 2;
    padding-right: $padding-pc;
    padding-left: $padding-pc;
   position: relative;
 }
  }

  .blog-cards{
    display:flex;
    flex-direction: column;
    // justify-content: center;
    align-items: center;
    margin-top: rem(29.6);
   @include mq('md'){
    margin-top: rem(80);
    flex-direction: row;
    flex-wrap: wrap;
   }
  }

  
.blog__inner::before {

   @include mq('sm'){
    content: "";
    position: absolute;
    background-image: url(/images/kingyohanadai_blog-PC.png) ;
    background-size:cover;
    max-width: 100%;
    width: rem(437);
    height: rem(201);
    top: rem(-224);
    left: rem(-56);
    
     }

     @include mq('md'){
      content: "";
      position: absolute;
      background-image: url(/images/kingyohanadai_blog-PC.png) ;
      background-size:cover;
      max-width: 100%;
      width: rem(437);
      height: rem(201);
      top: rem(-224);
      left: rem(40);
    }
    @include mq('lg'){
    content: "";
    position: absolute;
    background-image: url(/images/kingyohanadai_blog-PC.png) ;
    background-size:cover;
    max-width: 100%;
    width: rem(437);
    height: rem(201);
    top: rem(-224);
    left: rem(0);
  }

  @include mq('xl'){
  content: "";
  position: absolute;
  background-image: url(/images/kingyohanadai_blog-PC.png) ;
  background-size:cover;
  max-width: 100%;
  width: rem(437);
  height: rem(201);
  top: rem(-224);
  left: rem(-56);
}
}


.blog__button{
  text-align: center;
  margin-top: rem(36.48);
   @include mq('md'){
      margin-top: rem(78);
     }
}