@use "global" as *;

.footer {
  background-color: $accent-color;
  margin-top: 10rem;
   @include mq('md'){
    margin-top: 15.5rem;
    
    }
}
.footer__inner {
  padding: 0 $padding-sp; //1.5rem
  max-width: 100%;
  width: 50rem;
  margin: 0 auto;
   @include mq('md'){
    width: 108rem;
    max-width: 100%;
   }
}

.logo__block{
   @include mq('md'){
     display: flex;
     align-items: flex-end;
     margin-top: 1.8rem;
     margin-bottom: -1.5rem;
     margin-left:-1.5rem;
     }
}
.footer__logo {
  width: 12rem;
  max-width: 100%;
   @include mq('md'){
      width: 20rem;
      max-width: 100%;
      margin-right:1.5rem ;
     }
}
.head__logo {
  display: block;
  padding-top: 4.8rem;
  @include mq('md'){
      margin-right: 4rem;
      padding-top: 7.8rem;
     }
}

.footer__sns-icon {
  display: flex;
  margin-top: 1.7rem;
   @include mq('md'){
   }
}

.icon-facebook {
max-width: 2.4rem;
width: 100%;
margin-right: 1.5rem;
 @include mq('md'){
  max-width: 3.2rem;
  width: 100%;
 }
}

.icon-instagram {
max-width: 2.4rem;
width: 100%;
 @include mq('md'){
  max-width: 3.2rem;
  width: 100%;
   }
}

.footer-menu {

}

.navigation__menu {
  font-size: 1.6rem;
  color: $white;
  line-height: 1.8rem;
  font-weight: $normal;
  display: flex;
  justify-content: space-between;//marjin 0 auto;で中央寄せができず、flex:centerは感覚が狭い。
 
   @include mq('md'){
     justify-content: normal ; 
     }

}

.navigation_menu-title{
  font-size: 1.6rem;
  font-weight: $bold;
  line-height: 1.8rem;
  margin-top: 3.8rem;
   @include mq('md'){
      
     }
}

.navigation_menu-title::before {
  content: '';
  display: inline-block;
  width: 1.8rem;
  height: 1.8rem;
  background-image: url(/images/star-fish.png);
  background-size: contain;
  top: 0;
  left: 0;
  transform: translateY(0.1rem);
}
.br-pc{
   @include mq('md'){
      display: none;
     }

}

.navigation__menu-campaign li{
  text-indent: 2.2rem;
  margin-top: 2.4rem;
}


.navigation_menu-title li{
  text-indent: 2.2rem;
  margin-top: 2.4rem;
}
.navigation__menu-price li{
  text-indent: 2.2rem;
  margin-top: 2.4rem;
}

.navigation__menu-about {}


.navigation__menu-infomation li{
  text-indent: 2.2rem;
  margin-top: 2.4rem;
}

.navigation__menu-blog {

}
.navigation__menu-coulmn-left{

   @include mq('md'){
      display: flex;

    }
}
.navigation__menu-coulmn-right {
   @include mq('md'){
      display: flex;
     }
}


.navigation__menu-coulmn-first{
   @include mq('md'){
    width: 21rem;
    margin-right: 8rem;
    margin-left: -1.5rem;
}
}
.navigation__menu-coulmn-second {
  @include mq('md'){
    width: 21rem;
    margin-right: 6rem;
   }

}
.navigation__menu-coulmn-third {
  @include mq('md'){
    width: 21rem;
    margin-right: 6rem;
  }

}
.navigation__menu-coulmn-fourth {
  @include mq('md'){
    width: 21rem;
  }
}
.navigation__menu-privacy-policy{
  padding-left: 1.5em;
  text-indent: -1.5em;
 
}
.navigation__menu-voice {}

.navigation__menu-price {}

.footer__copyright {
 font-size: 1.2rem;
 color: $white;
 line-height: 1.8rem;
 text-align: center;
 margin-top: 4rem;
 padding: 0 1.4rem;
 padding-bottom: 5.6rem;
 letter-spacing: 0.037rem;
 @include mq('md'){
    font-size: 1.4rem;
    margin-top: 8rem;
    padding-bottom:8rem


   };
}