@use "global" as *;

.footer {
  background-color: $accent-color;
  margin-top: rem(100);
   @include mq('md'){
    margin-top: rem(160);
    
    }
}
.footer__inner {
  max-width: rem(500);//半端サイズの調整
   @include mq('md'){
  }
}

.logo__block{
   @include mq('md'){
     display: flex;
     align-items: flex-end;
     margin-top: rem(18);
    //  margin-bottom: rem(-15);
    //  margin-left:rem(-15);
     }
}
.footer__logo {
  width: rem(120);
  max-width: 100%;
   @include mq('md'){
      width: rem(200);
      max-width: 100%;
      margin-right:rem(15) ;
     }
}
.head__logo {
  display: block;
  padding-top: rem(48);
  @include mq('md'){
      margin-right: rem(40);
      padding-top: rem(78);
     }
}

.footer__sns-icon {
  display: flex;
  margin-top: rem(17);
   @include mq('md'){
    margin-top: rem(0);
    margin-bottom: rem(5);
   }
}

.icon-facebook {
max-width: rem(24);
width: 100%;
margin-right: rem(15);
 @include mq('md'){
  max-width: rem(32);
  width: 100%;
 }
}

.icon-instagram {
max-width: rem(24);
width: 100%;
 @include mq('md'){
  max-width: rem(32);
  width: 100%;
   }
}

.footer-menu {
   @include mq('md'){

     }
}

.navigation__menu {
  font-size: rem(16);
  color: $white;
  line-height: rem(18);
  font-weight: $normal;
  display: flex;
  justify-content: space-between;//marjin 0 auto;で中央寄せができず、flex:centerは感覚が狭い。
  margin-right: rem(10);
   @include mq('md'){
     justify-content: normal ;
     margin-right: rem(0);
     }

}

.navigation_menu-title{
  font-size: rem(16);
  font-weight: $bold;
  line-height: rem(18);
  margin-top: rem(38);
   @include mq('md'){
    margin-top: rem(12);
  }
}

.navigation_menu-title::before {
  content: '';
  display: inline-block;
  width: rem(18);
  height: rem(18);
  background-image: url(/images/star-fish.png);
  background-size: contain;
  top: 0;
  left: 0;
  transform: translateY(rem(1));
}
.br-pc{
   @include mq('md'){
      display: none;
     }

}

.navigation__menu-campaign li{
  margin-top: rem(24);
  text-indent: 0em;
  padding-left: 1.2em;
}



.navigation_menu-title li{
  text-indent: rem(22);
  margin-top: rem(24);
}
.navigation__menu-price-list li{
  margin-top: rem(24);
  text-indent: 0em;
  padding-left: 1.2em;
}

.navigation__menu-about {
   @include mq('md'){
     margin-top: rem(40);
     }
}


.navigation__menu-infomation li{
  margin-top: rem(24);
  text-indent: 0em;
  padding-left: 1.2em;
}

.navigation__menu-blog {
  @include mq('md'){
    margin-top: rem(40);
    }


}
.navigation__menu-coulmn-left{

   @include mq('md'){
      display: flex;

    }
}
.navigation__menu-coulmn-right {
   @include mq('md'){
      display: flex;
     }
}


.navigation__menu-coulmn-first{
   @include mq('md'){
    width: rem(210);
    margin-right: rem(78);
    margin-top: rem(12);

}
}
.navigation__menu-coulmn-second {
  @include mq('md'){
    width: rem(210);
    margin-right: rem(60);
    margin-top: rem(12);
   }

}
.navigation__menu-coulmn-third {
  @include mq('md'){
    width: rem(210);
    margin-right:rem(60);
    margin-top: rem(12);
  }

}
.navigation__menu-coulmn-fourth {
  @include mq('md'){
    width: rem(194);
    margin-top: rem(12);
  }
}
.navigation__menu-privacy-policy{
  padding-left: 1.5em;
  text-indent: -1.5em;
   @include mq('md'){
    margin-top: rem(38.4);
     }
}
.navigation__menu-voice {
}

.navigation__menu-price {
  @include mq('md'){
    margin-top: rem(38.4);
    }
}

.navigation__menu-terms-of-service{
  @include mq('md'){
    margin-top: rem(38.4);
    }
}
.navigation__menu-contact{
  @include mq('md'){
    margin-top: rem(38.4);
    }
}


.footer__copyright {
 font-size: rem(12);
 color: $white;
 line-height: rem(18);
 text-align: center;
 margin-top: rem(40);
 padding: 0 rem(14);
 padding-bottom: rem(56);
 letter-spacing: rem(0.37);
 @include mq('md'){
    font-size: rem(14);
    margin-top: rem(76.8);
    padding-bottom: rem(80)
   };
}