@use "global" as *;

.header__drawer{
   margin-left: auto;//右寄せに
    @include mq('md'){
       display: none;
    }
} 

 .drawer-icon__bars {
<<<<<<< HEAD
   width: rem(28.5);
   height: rem(29);
   display: block;
   cursor: pointer;
   position: relative;
   margin-left: rem(5);
 }

// ハンバーガーアイコン
=======
   width: 2.85rem;
   height: 2.9rem;
   display: block;
   cursor: pointer;
   position: relative;
   margin-left: 0.5rem;
 }

 
>>>>>>> 64d965be324e45622a2cfc6419642c293c087821
 .drawer-icon__bar1,
 .drawer-icon__bar2,
 .drawer-icon__bar3 {//アイコン全体の大きさ
   position: absolute;
   width: rem(32);
   height: rem(1);
   background: $white;
   top: 0;
   left: 0;
   transition: ease .3s;
 }
 
 .drawer-icon__bar1 {top: rem(2);}//各高さ
 .drawer-icon__bar2 {top: rem(14);}
 .drawer-icon__bar3 {top: rem(26);}

<<<<<<< HEAD
 .header__drawer.is-open .drawer-icon__bar1  {//一番上のアイコン、is-open付与時に回転
  transform: translateY(rem(12)) rotate(36deg);
  width: rem(40);
  background-color: #fff;
}
 .header__drawer.is-open .drawer-icon__bar2 {//真ん中横棒、is-open付与でふわっと消える
   opacity: 0;
 }

 .header__drawer.is-open .drawer-icon__bar3 {//一番下のアイコン、is-open付与時に回転
  transform: translateY(rem(-12)) rotate(-36deg);
   width: rem(40);
=======
 .header__drawer.is-open .drawer-icon__bar1  {
  transform: translateY(1.2rem) rotate(36deg);
  width: 4rem;
  background-color: #fff;
}
 .header__drawer.is-open .drawer-icon__bar2 {
   opacity: 0;
 }

 .header__drawer.is-open .drawer-icon__bar3 {
  transform: translateY(-1.2rem) rotate(-36deg);
   width: 4rem;

>>>>>>> 64d965be324e45622a2cfc6419642c293c087821
   background-color: #fff;
 }


.drawer-menu{
position: absolute;
top: 0;
right: 0;
left: 0;
bottom: 0;
height: 100vh;
width: 100%;
z-index: 2;
margin-top: rem(80);
padding: 0 $padding-sp;
pointer-events: none;
opacity: 0;
transition: opacity .3s linear;transition: ease .5s;
background-color:  $accent-color;;
}

.drawer-menu.is-open{
<<<<<<< HEAD
  pointer-events: auto;//drawer-menuが表示後にクリックできるようになる。
=======
  pointer-events: auto;//drawwe-menuが表示後にクリックできるようになる。
>>>>>>> 64d965be324e45622a2cfc6419642c293c087821
  opacity: 1;
  overflow: auto;//見切れた際にスクロール
}

body.is-open{
  overflow: hidden;//スクロールしない。
}
<<<<<<< HEAD

.drawer-menu__box{
  margin-top: rem(-15);
=======
.drawer-menu__box{
  margin-top: -1.5rem;
>>>>>>> 64d965be324e45622a2cfc6419642c293c087821
  display: flex;
  margin-right: auto;
  margin-left: auto;
  max-width: 100%;
<<<<<<< HEAD
  width: rem(342);
  // justify-content: space-between;

}

.drawer-menu__box .navigation__menu-price li{
   margin-top: rem(24);
   text-indent: rem(18);
}

.drawer-menu__box .navigation__menu-coulmn-left{
  margin-right: rem(6.4);
}
.drawer-menu__box .navigation__menu-price li{
  text-indent: 0em;
  padding-left: 1.2em;
=======
  width: 34.2rem;
  justify-content: space-between;
>>>>>>> 64d965be324e45622a2cfc6419642c293c087821
}