@use "global" as *;

.header__drawer{
   margin-left: auto;
    @include mq('md'){
       display: none;
    }
} 

 .drawer-icon__bars {
   width: 2.85rem;
   height: 2.9rem;
   display: block;
   cursor: pointer;
   position: relative;
   margin-left: 0.5rem;
 }

 
 .drawer-icon__bar1,
 .drawer-icon__bar2,
 .drawer-icon__bar3 {
   position: absolute;
   width: 3.2rem;
   height: 0.1rem;
   background: $white;
   top: 0;
   left: 0;
   transition: ease .3s;
 }
 
 .drawer-icon__bar1 {top: 0.2rem;}
 .drawer-icon__bar2 {top: 1.4rem;}
 .drawer-icon__bar3 {top: 2.6rem;}

 .header__drawer.is-open .drawer-icon__bar1  {
  transform: translateY(1.2rem) rotate(36deg);
  width: 4rem;
  background-color: #fff;
}
 .header__drawer.is-open .drawer-icon__bar2 {
   opacity: 0;
 }

 .header__drawer.is-open .drawer-icon__bar3 {
  transform: translateY(-1.2rem) rotate(-36deg);
   width: 4rem;

   background-color: #fff;
 }


.drawer-menu{
position: absolute;
top: 0;
right: 0;
left: 0;
bottom: 0;
height: 100vh;
width: 100%;
z-index: 2;
margin-top: 8rem;
padding: 0 $padding-sp;
pointer-events: none;
opacity: 0;
transition: opacity .3s linear;transition: ease .5s;
background-color:  $accent-color;;
}

.drawer-menu.is-open{
  pointer-events: auto;//drawwe-menuが表示後にクリックできるようになる。
  opacity: 1;
}
.drawer-menu__box{
  margin-top: -1.5rem;
  display: flex;
  margin-right: auto;
  margin-left: auto;
  max-width: 100%;
  width: 34.2rem;
  justify-content: space-between;
}