@use "global" as *;

.information {
background-color: $background-color;
padding: 8rem 0;
margin-top: 8rem;
 @include mq('md'){
    margin-top: 18rem;
    padding-top: 10.3rem;
    padding-bottom:10rem;
   }
}

.information__inner {
padding: 0 $padding-sp;//1.5rem
 @include mq('md'){
  width: $inner;
  max-width: 100%;
  display: flex;
  margin: 4rem auto 0;
  padding: 0 $padding-pc;//2.0rem
 }

}
.information__image {
   margin-top: 3.0rem;
   @include mq('md') {
     flex: 0 0 52%;
     max-width: 100%;
     margin-right: 5.5rem;
     margin-left: -2.6rem;
     padding-right: 0rem;
     margin-top: 0;
   }
 }

.information__info {
margin-top: 2.4rem;
z-index: 10;
 @include mq('md'){
  margin-top: 6.3rem;
  flex: 0 0 46.66666%;
 }
}


.information__title {
display: block;
font-size: 2rem;
line-height: 2.4rem;
font-weight: $bold;//700
padding-bottom: 0.4rem;
border-bottom: 1px solid $accent-color;

 @include mq('md'){
  font-size: 2.4rem;
 }
}

.information__text {
font-size: 1.6rem;
color: $font-color;
font-weight: $normal;
line-height: 2.4rem;
margin-top: 0.8rem;
}

.imformation__button {
text-align: center;
margin-top: 4rem;
}