@use "global" as *;

.information {
background-color: $background-color;
<<<<<<< HEAD
padding: rem(80) 0;
margin-top: rem(80);
 @include mq('md'){
    margin-top: rem(140);
    padding-top: rem(100);
    padding-bottom:rem(100);
=======
padding: 8rem 0;
margin-top: 8rem;
 @include mq('md'){
    margin-top: 18rem;
    padding-top: 10.3rem;
    padding-bottom:10rem;
>>>>>>> 64d965be324e45622a2cfc6419642c293c087821
   }
}

.information__inner {//innerに余白を引き継いだ
// padding: 0 $padding-sp;//1.5rem
 @include mq('md'){
  // width: $inner;
  // max-width: 100%;
  display: flex;
  // margin: 0 auto;
  // padding: 0 $padding-pc;//2.0rem
 }

}

.infomation__box{
 @include mq('md'){
  margin-top: rem(40);
   }
}

.information__image {
<<<<<<< HEAD
   margin-top: rem(30);
   @include mq('md') {
     max-width: 100%;
     width: rem(540);
     margin-right: rem(48);
     padding-right: rem(0);
     margin-top:rem(0);
=======
   margin-top: 3.0rem;
   @include mq('md') {
     flex: 0 0 52%;
     max-width: 100%;
     margin-right: 5.5rem;
     margin-left: -2.6rem;
     padding-right: 0rem;
     margin-top: 0;
>>>>>>> 64d965be324e45622a2cfc6419642c293c087821
   }
 }

.information__info {
<<<<<<< HEAD
margin-top: rem(24);
z-index: 10;
 @include mq('md'){
  margin-top: rem(63);
  max-width: rem(492);
  width: 100%;
=======
margin-top: 2.4rem;
z-index: 10;
 @include mq('md'){
  margin-top: 6.3rem;
  flex: 0 0 46.66666%;
>>>>>>> 64d965be324e45622a2cfc6419642c293c087821
 }
}


.information__title {
display: block;
font-size: rem(20);
line-height: rem(24);
font-weight: $bold;//700
padding-bottom: rem(1.76);
border-bottom: 1px solid $accent-color;

 @include mq('md'){
<<<<<<< HEAD
   padding-bottom: rem(6.08);
  font-size: rem(24);
=======
  font-size: 2.4rem;
>>>>>>> 64d965be324e45622a2cfc6419642c293c087821
 }
}

.information__text {
font-size: rem(16);
color: $font-color;
font-weight: $normal;
line-height: rem(24);
margin-top: rem(8);
}

.imformation__button {
text-align: center;
<<<<<<< HEAD
margin-top: rem(40);
=======
margin-top: 4rem;
>>>>>>> 64d965be324e45622a2cfc6419642c293c087821
}