@use "global" as *;
//rem済
.main-visual{
 position: relative;
}
.main-visual__text{
  content: "";
  position: absolute;
  top: 49.85%;
  left: 52.5%;
  color: $white;
  font-size: rem(16);
  z-index: 2;
  transform: translate(-50%, -50%);
   @include mq('md'){
    top: 55.4%;
    left: 50.5%;
     }
}

.main-visual-title {
font-size: rem(40);
letter-spacing: rem(21.6);
font-family: $price-font-family;
 @include mq('md'){
    font-size: rem(80);
    line-height: rem(100);
    letter-spacing: rem(43.2);
    padding-left: rem(28);
   }
}

.main-visual-subtitle {
  font-size: rem(20);
  font-family: $second-font-family;
  text-align: center;
  padding-right:rem(21.5);
   @include mq('md'){
    padding-right: rem(15);
   }
}



.main-visual-image img {
  height: 100vh;//全画面の表示
  object-fit: cover;
   @include mq('md'){
     aspect-ratio: 1440/768;
     }
  }


