@use "global" as *;
body{
  position: relative;
}

.pagetop {
  max-width: 100%;
  width: rem(48);
  position: fixed;
  bottom:  rem(16);
  right: 0;
  margin-right: rem(16);
  margin-bottom:rem(16);
  z-index: 10;
   @include mq('md'){
     width: rem(80);
     margin-bottom:rem(20);
     margin-right: rem(20); 
     }
}
