@use "global" as *;

.price{
   padding: rem(80)0 ;
   margin-top: rem(84);
   background-color: $background-color;
    @include mq('md'){
       margin-top: rem(142.4);
       padding-top: rem(102);
       padding-bottom: rem(100);
    }
}

.price__inner{
   @include mq('md'){
      position: relative;
      display: flex;
      margin-top: rem(40);
 }
}

.price__inner::after{
 
   @include mq('md'){
      content: "";
      position: absolute;
      background-image: url(/images/price-PC-left-figure-hanadai.png);
      background-repeat: no-repeat;
      background-size: contain;
      bottom: -35%;
      left: 0.5%;
      width: rem(350);
      height: rem(201);
      margin: auto;
      z-index: 3;
   }
   @include mq('lg'){
      content: "";
      position: absolute;
      background-image: url(/images/price-PC-left-figure-hanadai.png);
      background-repeat: no-repeat;
      background-size: contain;
      bottom: -34%;
      left: 0.5%;
      width: rem(350);
      height: rem(201);
      margin: auto;
      z-index: 3;
   }
   @include mq('xl'){
   content: "";
   position: absolute;
   background-image: url(/images/price-PC-left-figure-hanadai.png);
   background-repeat: no-repeat;
   background-size: contain;
   bottom: -24.5%;
   left: -4.9%;
   width: rem(437);
   height: rem(201);
   margin: auto;
   z-index: 3;
}
}

.price__image-sp{
   margin-top: rem(28);
}

.price__image-sp img {//746px
    max-width: 100%;
}

.price-list {
 @include mq('md'){
   margin-right: rem(93);
   width: 45.5%;
   }
}
.price__image-pc {
   @include mq('md'){//746px
      aspect-ratio:492/746 ;
     width: 45.3703703703%;
    
     object-fit: cover;
     }
  }


.price-course__title {
font-size: rem(16);
font-weight: $bold;
line-height: rem(24);
display: block;
margin-top: rem(40);
margin-bottom: rem(4);
padding-bottom: rem(4);
border-bottom: 1px solid $accent-color;
 @include mq('md'){
    &:first-child{
      margin-top: 0;
    }
   }
}

.price-course__items {
display: flex;
justify-content: space-between;
margin-top: rem(8);
font-size: rem(14);
font-weight: $normal;
line-height: rem(24);
 @include mq('md'){
    font-size: rem(16);
   }
}

.price-course__item-name {
padding-right: rem(20)  ;
}

.price-course__item-price {

}



.price__button{
   text-align: center;
   margin-top: rem(38);
    @include mq('md'){
       margin-top: rem(81.1);
      }
}
