@use "global" as *;

.section {
  text-align: center;
}

.section-title {
  font-size: rem(32);
  font-weight: $normal;
  font-family: $second-font-family;
  line-height: rem(40);

  @include mq('md') {
    font-size: rem(40);
  }

  &::first-letter {
    color: $accent-color;
  }
}

.section-title__whtie {
  color: $font-color;
  font-size: rem(32);
  font-weight: $normal;
  font-family: $second-font-family;
  line-height: rem(40);

  &::first-letter {
    color: $accent-color;
  }

  @include mq('md') {
    font-size: rem(40);
    color: $white;
    &::first-letter {
      color: $white;
    }
  }
}

.section-subtitle {
  font-size: rem(12);
  color: $accent-color;
  font-weight: $normal;
  line-height: rem(18);
  margin-top: rem(4);
   @include mq('md'){
      margin-top:rem(6.4) ;
     }
}

.section-subtitle__white {
  font-size: rem(12);
  color: $accent-color;
  font-weight: $normal;
<<<<<<< HEAD
  line-height: rem(18);
  margin-top: rem(4);
  @include mq('md') {
    color: $white;
    margin-top: rem(10.4);
=======
  line-height: 1.8rem;
  margin-top: 0.4rem;
  @include mq('md') {
    color: $white;
    margin-top: 1.04rem;
>>>>>>> 64d965be324e45622a2cfc6419642c293c087821
  }
}