@use "global" as *;

/* 前へ次への矢印カスタマイズ */
.swiper-button-prev,
.swiper-button-next {
  height: 8rem;
  width: 8rem;
}

//ボックスで位置調整ができるか？

.swiper-button-box{
    align-items: center;
    display: block;
    display: flex;
    justify-content: space-between;
    position: absolute;
    right: 13.5%;
    top: -4.8125rem;
    width: 16.25rem;
}

/* 前へ次への矢印カスタマイズ */
.swiper-button-prev::after,
.swiper-button-next::after {
   @include mq('md'){
      
     background-repeat: no-repeat;
     background-size: contain;
     content: "";
     position: absolute;
     height: 8rem;
     margin: auto;
     width: 8rem;
     top: inherit;
     top: -650%;
   }
   @include mq('lg'){//w1024
    top: -700%;
  }
  
  }
/* 前への矢印カスタマイズ */
.swiper-button-prev::after {
  background-image: url(/images/swiper-icon-left.png);
  right:-61.4vw;
}
/* 次への矢印カスタマイズ */
.swiper-button-next::after {
  background-image: url(/images/swiper-icon-right.png);
  right: 11.9vw;

}


