@use "global" as *;

/* 前へ次への矢印カスタマイズ */
.campaign-swiper__button .swiper-button-prev,
.campaign-swiper__button .swiper-button-next {
  height: rem(80);
  width: rem(80);
  background-image: none;
}

//ボックスで位置調整ができるか？

<<<<<<< HEAD
.swiper__button-box{
  position: absolute;
  right: 18.5%;
    top: -17.8%;
=======
.swiper-button-box{
    align-items: center;
    display: block;
    display: flex;
    justify-content: space-between;
    position: absolute;
    right: 13.5%;
    top: -4.8125rem;
    width: 16.25rem;
>>>>>>> 64d965be324e45622a2cfc6419642c293c087821
}

/* 前へ次への矢印カスタマイズ */
.swiper-button-prev::after,
.swiper-button-next::after {
  display: none;
   @include mq('md'){
     display: block;
     background-repeat: no-repeat;
     background-size: contain;
     content: ""; //デフォルトアイコンを非表示
     position: absolute;
     height: rem(80);
     margin: auto;
<<<<<<< HEAD
     width: rem(80);
     top: 0;
   }
  }

/* 前への矢印カスタマイズ */
.swiper-button-prev::after {
  background-image: url(/images/swiper-icon-left.png);
  right:0;
=======
     width: 8rem;
     top: inherit;
     top: -650%;
   }
   @include mq('lg'){//w1024
    top: -700%;
  }
  
  }
/* 前への矢印カスタマイズ */
.swiper-button-prev::after {
  background-image: url(/images/swiper-icon-left.png);
  right:-61.4vw;
>>>>>>> 64d965be324e45622a2cfc6419642c293c087821
}
/* 次への矢印カスタマイズ */
.swiper-button-next::after {
  background-image: url(/images/swiper-icon-right.png);
<<<<<<< HEAD
  right: rem(-210);
=======
  right: 11.9vw;
>>>>>>> 64d965be324e45622a2cfc6419642c293c087821

}


