@use "global" as *;

.voice {
  margin-top: 8rem;
  @include mq('md') {
    margin-top: 17.5rem;
   
  }
}

.voice-card__inner {
  margin: 0 auto;
  margin-top: 4.5rem;
  padding: 0 $padding-sp; //1.5rem

  @include mq('md') {
    width: 113rem;
    max-width: 100%;
    display: flex;
    margin-top: 3rem;
    padding: 0 $padding-pc; //2.0rem
    padding-bottom: 2.4rem;
    position: relative;
  }
}
.voice-card__inner::after{
   @include mq('md'){
    content: "";
    position: absolute;
    background: url(/images/voice-right-figure-seahorse.png);
    background-repeat: no-repeat;
    background-size: contain;
    bottom: -43%;
    right: 2.2%;
    width: 7.1rem;
    height: 16.2rem;
    margin: auto;
}
}

.voice-card__inner::before {
  @include mq('md'){
    content: "";
    position: absolute;
    background: url(/images/voice-left-figure-hanadai.png);
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
    top: -51%;
    left: -5%;
    width: 30.1rem;
    height: 13.8rem;
    margin: auto;
  }
}

.voice-card {
  display: block;
  padding: $padding-sp; //1.5rem
  box-shadow: 0.2rem 0.2rem 1rem $shadow-color;
  &:first-child {
    @include mq('md') {
      margin-right: 4rem;
    }
  }
}

.voice-card:nth-child(n+1) {
margin-top: 4rem;
 @include mq('md'){
    margin-top: 0;
   }
}

.voice-card__main {
  display: flex;
  align-items: flex-end;
  margin-top: 0.2rem;
 @include mq('md'){
  width: 50.2rem;
  max-width:  100%;
   }
}

.voice-card__info {
  @include mq('md') {
    display: flex;
    justify-content: space-between;
  }
}

.voice-card__group {
  padding-right: 1rem;
  @include mq('md') {
    padding-right: 0.5rem;

  }
}

.voice-card__personal {
  font-size: 1.2rem;
  font-weight: $normal; //400
  line-height: 1.4;

  @include mq('md') {
    display: flex;
    align-items: flex-end;
  }
}

.voice-card__category {
  display: inline-block;
  font-size: 1.2rem;
  font-weight: $normal; //400
  color: $accent-color;
  padding: 0.4rem 1.1rem;
  border: 1px solid $accent-color;
  margin-right: 0.8rem;
  

  @include mq('md'){
     display: inline-block;
     font-size: 1.2rem;
     font-weight: $normal; //400
     color: $accent-color;
     padding: 0.79rem 1.5rem;
     border: 1px solid $accent-color;
     margin-right: 0.8rem;
     margin-top: 0.4rem;
     }
}

.voice-card__title {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 2.4rem;
  padding-top:0.2rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid $accent-color;

  @include mq('md') {
    display: inline-block;
    font-size: 2.4rem;
    line-height: 3.5rem;
    margin-top: 0.5rem;
    padding-right: 1.5rem;
    padding-left: 1rem;
    width: 29.4rem;
    max-width:  100%;
    }
  }

.voice-card__text {
  font-size: 1.6rem;
  padding-top: 1.6rem;
  padding-bottom: 0.6rem;

  @include mq('md') {
    padding-top: 4rem;
    line-height: 2.4rem;
    padding-left: 1rem;
  }

}

.voice-card  {
  width: 100%;
  max-width: 52rem;
  margin-top: 4.4rem;
  margin: 0 auto;
  box-shadow: 2px 2px 10px 0px #00000040;

  @include mq('md') {
    margin-top: 0;
    // width: 52rem;
    // max-width: 100%;
    width: 48.148148148%;
  }
}


.voice-card__image img {
  aspect-ratio: 151/117;
  object-fit: cover;
  min-width: 15.1rem;
  width: 25rem; //1rem=10px
  height: auto;
  max-width: 100%;

  @include mq('md') {
    aspect-ratio: 180/140;
    height: auto;
    max-width: 100%;
    width: 18rem;
  }
  }

.voice-card__info {
  color: $font-color;
   @include mq('md'){
      margin-top: 2.7rem;
      margin-left: 0.8rem;  
     }
}

.voice-card__date {
  font-size: 1.2rem;
  font-weight: $normal;
  font-family: $second-font-family;
  line-height: 1.8rem;
  margin-top: 2.4rem;
}

.voice__button {
  text-align: center;
  margin-top: 3.8rem;
 @include mq('md'){
    margin-top: 5.6rem;
  }
}
